# Config for Waymo Sim Agents Challenge validation set evaluation (for debugging)
time_info: &time_info
  num_historical_steps: 11
  num_future_steps: 80
  token_size: 2048

Dataset:
  root:
  batch_size: 1
  shuffle: False
  num_workers: 8
  pin_memory: True
  persistent_workers: True
  train_raw_dir:
  val_raw_dir: ["data/waymo_processed/validation"]
  test_raw_dir:
  TargetBuilder: WaymoTargetBuilder
  train_processed_dir:
  val_processed_dir:
  test_processed_dir:
  dataset: "scalable"
  <<: *time_info

Trainer:
  strategy: ddp
  accelerator: "gpu"
  devices: 1
  max_epochs: 1
  save_ckpt_path:
  num_nodes: 1
  mode:
  ckpt_path:
  precision: 32

Model:
  mode: "evaluation"
  predictor: "smart"
  dataset: "waymo"
  input_dim: 2
  hidden_dim: 128
  output_dim: 2
  output_head: False
  num_heads: 8
  <<: *time_info
  head_dim: 16
  dropout: 0.1
  num_freq_bands: 64
  lr: 0.0005
  warmup_steps: 0
  total_steps: 32
  decoder:
    <<: *time_info
    num_map_layers: 3
    num_agent_layers: 6
    a2a_radius: 60
    pl2pl_radius: 10
    pl2a_radius: 30
    time_span: 30

Evaluation:
  n_rollouts: 32
  n_shards: 150
  output_dir: "./submission_val"
